<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>PetClinic</display-name>

    <listener>
        <listener-class>com.petclinic.spring.SpringContextListener</listener-class>
    </listener>
    <!-- Startup listener: runs Flyway migrations, initializes singletons -->
    <listener>
        <listener-class>com.petclinic.listener.AppContextListener</listener-class>
    </listener>
</web-app>
